.login-form {}

.login-form__heading {
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 15px;
}

.login-form__inner {
    margin: 0 auto;
}

.login-form__group {
    display: flex;
    flex-direction: column;
}

.login-form__label {
    color: black;
    margin-bottom: 3px;
    margin-left: 20px;
    text-align: left;
}

.login-form__input {
    margin: 0 20px 10px 20px;
}

.login-form__input input {
    padding: 30px;
    width: 150px;
    border: 1px solid rgb(225, 221, 221);
    border-radius: 3px;
    color: rgb(225, 221, 221);
}

.login-form__error-message {
    margin-top: 8px;
    color: red;
    grid-column: 2;
}

.login-form__button {
    margin-bottom: 10px;
    color: white;
    padding: 10px;
    width: 140px;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(143, 119, 193, 0.506), pink);
    font-size: large;
}

.register__link {
    color: rgb(127, 253, 255);
    margin-bottom: 20px;
    margin-top: 8px;
    border-bottom: 30px;
}