body {
    background: linear-gradient(125deg, rgb(168, 203, 238), rgb(255, 192, 217), rgb(249, 186, 161));
}

.auth {
    display: flex;
    flex-direction: column;
    height: 830px;
    width: 100%;
}

.main {
    background-color: white;
    width: 30%;
    height: 70%;
    text-align: center;
    border-radius: 8px;
    margin: 200px 500px;
}

.main__heading {
    color: pink;
    margin-top: 20px;
    font-weight: lighter;
    font-size: 45px;
    margin-bottom: 15px;
}